[submodule "client"]
	path = client
	url = https://github.com/Gygaz/iest-inventarios.git
	branch = home-seccionado
[submodule "server"]
	path = server
	url = https://github.com/Gygaz/iest-inventarios-backend.git
